.contentBlock15BoxWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contentBlock15Text {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
}

.contentBlock15 {
  padding: 15px 15px 20px;
  background: #c9d8f8;
}

.contentBlock15__box {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 31px 25px 38px 22px;
  background: #f3f4f8;
}

.contentBlock15__box__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 61px;
  margin-bottom: 5px;
  background: #ffffff;
}

.contentBlock15__box__header {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.contentBlock15__box__text {
  font-size: 16px;
  line-height: 21px;
}

@media screen and (min-width: 768px) {
  .contentBlock15BoxWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 41px 20px;
  }

  .contentBlock15 {
    padding: 50px;
  }

  .contentBlock15__box {
    box-sizing: border-box;
    width: calc(50% - 10px);
    height: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .contentBlock15BoxWrapper {
    gap: 20px;
  }

  .contentBlock15 {
    padding: 73px 50px;
  }

  .contentBlock15__box {
    width: calc(25% - 15px);
  }
}
