.contentBlock8HintsWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contentBlock8Text {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
}

.contentBlock8Text-white {
  color: #ffffff;
}

.contentBlock8Wrapper {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.contentBlock8 {
  padding: 49px 15px 23px;
}

.contentBlock8__box {
  padding: 25px 25px 34px;
}

.contentBlock8__box__header {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 50px;
}

.contentBlock8__box-marketPlace {
  background: #e1e8f8;
}
.contentBlock8__box-shop {
  background: url(../assets/contentBlock8-background.svg) center;
}

.contentBlock8__header {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 36px;
}

.contentBlock8__hints {
  display: flex;
  flex-direction: column;
  gap: 44px;
  justify-content: space-between;
}

.contentBlock8__hints__block {
  display: flex;
  gap: 23px;
}

.contentBlock8__hints__block__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: #ffffff;
}

.contentBlock8__hints__block__text {
  width: calc(100% - 68px);
  font-size: 14px;
  line-height: 18px;
  height: 45px;
  overflow: visible;
}

.contentBlock8__hints__header {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contentBlock8HintsWrapper {
    gap: 25px;
  }

  .contentBlock8Wrapper {
    gap: 30px;
  }

  .contentBlock8 {
    padding: 48px 25px 87px;
  }

  .contentBlock8__header {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 127px;
  }

  .contentBlock8__box {
    padding: 53px 100px 67px 54px;
  }

  .contentBlock8__box__header {
    font-size: 24px;
    line-height: 31px;
    width: 314px;
  }

  .contentBlock8__hints__block {
    gap: 27px;
  }

  .contentBlock8__hints__block__logo {
    width: 55px;
    height: 55px;
  }

  .contentBlock8__hints__block__text {
    font-size: 16px;
    line-height: 21px;
    width: calc(100% - 82px);
  }

  .contentBlock8__hints__header {
    font-size: 16px;
    line-height: 21px;
  }
}

@media screen and (min-width: 1280px) {
  .contentBlock8Wrapper {
    flex-direction: row;
    gap: 104px;
  }

  .contentBlock8 {
    background: url(../assets/contentBlock8-DotsBackground.svg) right -50px top 137px
      no-repeat;
    padding: 72px 50px 67px;
  }

  .contentBlock8__box {
    width: calc((100% - 104px) / 2);
  }

  .contentBlock8__header {
    font-size: 32px;
    line-height: 42px;
  }
}
